## Data inspection of the real propecty sales file

File name: Real Property Sales <br> 
Location: Documents/Data Science/Fatiron School/week3/

## Step 1: Unziping the file

In [1]:
## Using zipfile package, we unzip the raw data and place it in the same directory

import zipfile

zip_ref = zipfile.ZipFile('raw_data/Real Property Sales.zip', 'r')
zip_ref.extractall('raw_data/')
zip_ref.close()

zip_ref = zipfile.ZipFile('raw_data/Residential Building.zip', 'r')
zip_ref.extractall('raw_data/')
zip_ref.close()

## Step 2: Inspecting the files content

In [2]:
## Import pandas and inspect the content of the data using a DataFrame
import pandas as pd
import numpy as np

sales_df = pd.read_csv('raw_data/EXTR_RPSale.csv')
sales_df.head()

/Users/jjherranzsarrion/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,1056831,951120,900,04/20/1989,85000,198904260448,117,053,951120,P,...,3,0,2,N,N,N,N,1,9,49

In [3]:
bldg_df = pd.read_csv('raw_data/EXTR_ResBldg.csv')
bldg_df.head()

/Users/jjherranzsarrion/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,520,67,1,1,6781 MARS AVE S 98108,6781,,,MARS,AVE,...,1,0,1,1940,2014,0,0,0,3,0
1,640,7,1,1,45216 196TH AVE SE 98022,45216,,,196TH,AVE,...,1,0,0,1961,0,0,0,0,4,0
2,640,16,1,1,20410 SE 456TH WAY 98022,20410,,SE,456TH,WAY,...,0,0,0,2004,0,0,0,0,3,0
3,660,96,1,1,8501 S 259TH ST 98030,8501,,S,259TH,ST,...,0,0,0,1933,0,0,0,0,4,0
4,720,13,1,1,84 LOGAN AVE S 98055,84,,,LOGAN,AVE,...,0,0,0,1924,0,0,0,0,3,0

In [4]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033420 entries, 0 to 2033419
Data columns (total 24 columns):
ExciseTaxNbr          int64
Major                 object
Minor                 object
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: int64(7), object(17)
memory usage: 372.3+ MB

In [5]:
bldg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512548 entries, 0 to 512547
Data columns (total 50 columns):
Major                 512548 non-null int64
Minor                 512548 non-null int64
BldgNbr               512548 non-null int64
NbrLivingUnits        512548 non-null int64
Address               512548 non-null object
BuildingNumber        512548 non-null object
Fraction              512548 non-null object
DirectionPrefix       511984 non-null object
StreetName            512548 non-null object
StreetType            512548 non-null object
DirectionSuffix       511984 non-null object
ZipCode               468452 non-null object
Stories               512548 non-null float64
BldgGrade             512548 non-null int64
BldgGradeVar          512548 non-null int64
SqFt1stFloor          512548 non-null int64
SqFtHalfFloor         512548 non-null int64
SqFt2ndFloor          512548 non-null int64
SqFtUpperFloor        512548 non-null int64
SqFtUnfinFull         512548 non-null int64
SqFtUnfinHalf         512548 non-null int64
SqFtTotLiving         512548 non-null int64
SqFtTotBasement       512548 non-null int64
SqFtFinBasement       512548 non-null int64
FinBasementGrade      512548 non-null int64
SqFtGarageBasement    512548 non-null int64
SqFtGarageAttached    512548 non-null int64
DaylightBasement      512548 non-null object
SqFtOpenPorch         512548 non-null int64
SqFtEnclosedPorch     512548 non-null int64
SqFtDeck              512548 non-null int64
HeatSystem            512548 non-null int64
HeatSource            512548 non-null int64
BrickStone            512548 non-null int64
ViewUtilization       512548 non-null object
Bedrooms              512548 non-null int64
BathHalfCount         512548 non-null int64
Bath3qtrCount         512548 non-null int64
BathFullCount         512548 non-null int64
FpSingleStory         512548 non-null int64
FpMultiStory          512548 non-null int64
FpFreestanding        512548 non-null int64
FpAdditional          512548 non-null int64
YrBuilt               512548 non-null int64
YrRenovated           512548 non-null int64
PcntComplete          512548 non-null int64
Obsolescence          512548 non-null int64
PcntNetCondition      512548 non-null int64
Condition             512548 non-null int64
AddnlCost             512548 non-null int64
dtypes: float64(1), int64(39), object(10)
memory usage: 195.5+ MB

## Step 3: Reducing the data frames to include the relevant factors

In [6]:
sales_df = sales_df[['Major', 'Minor', 'DocumentDate', 'SalePrice', 'PrincipalUse']]
sales_df.head()

    Major Minor DocumentDate  SalePrice  PrincipalUse
0  138860   110   08/21/2014     245000             6
1  664885    40   07/09/1991          0             0
2  423943    50   10/11/2014          0             6
3  403700   715   01/04/2013          0             6
4  951120   900   04/20/1989      85000             0

In [7]:
bldg_df = bldg_df[['Major', 'Minor', 'ZipCode', 'BldgGrade', 'SqFtTotLiving', 'Bedrooms', 'BathHalfCount'
                   , 'Bath3qtrCount', 'BathFullCount', 'YrBuilt', 'YrRenovated']]
bldg_df.head()

,Major,Minor,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,YrBuilt,YrRenovated
0,520,67,98108,7,2360,3,0,1,2,1940,2014
1,640,7,98022,6,1770,3,1,0,1,1961,0
2,640,16,98022,9,2720,3,1,0,3,2004,0
3,660,96,98030,7,1360,4,0,0,1,1933,0
4,720,13,98055,6,1270,3,0,0,1,1924,0

## Step 4: Merging the data frames together

In [8]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [9]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'])

ValueError: Unable to parse string "      " at position 951141

In [10]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors='coerce')

In [11]:
sales_df['Minor'] = pd.to_numeric(sales_df['Minor'], errors='coerce')

In [12]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033420 entries, 0 to 2033419
Data columns (total 5 columns):
Major           float64
Minor           float64
DocumentDate    object
SalePrice       int64
PrincipalUse    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 77.6+ MB

In [13]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [14]:
sales_data.head()

,Major,Minor,DocumentDate,SalePrice,PrincipalUse,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,YrBuilt,YrRenovated
0,138860.0,110.0,08/21/2014,245000,6,98002,7,1490,3,0,0,2,1989,0
1,138860.0,110.0,06/12/1989,109300,0,98002,7,1490,3,0,0,2,1989,0
2,138860.0,110.0,01/16/2005,14684,6,98002,7,1490,3,0,0,2,1989,0
3,138860.0,110.0,06/08/2005,0,0,98002,7,1490,3,0,0,2,1989,0
4,423943.0,50.0,10/11/2014,0,6,98092,6,960,3,0,0,1,1969,0

## Step 5: Data cleaning

<b> Step 5.1 :  Look for nulls and decide on their outcome

In [15]:
sales_data.isna().any()

Major            False
Minor            False
DocumentDate     False
SalePrice        False
PrincipalUse     False
ZipCode           True
BldgGrade        False
SqFtTotLiving    False
Bedrooms         False
BathHalfCount    False
Bath3qtrCount    False
BathFullCount    False
YrBuilt          False
YrRenovated      False
dtype: bool

So far we have found that ZipCode contains null values, so we are going to investigate that column further

In [16]:
sales_data['ZipCode'].unique()

array(['98002', '98092', '98008', '98058', '98038', '98031', '98188',
       '98051', '98001', 98001.0, '98177', '98072', '98106', nan, '98059',
       98125.0, 98006.0, '98144', '98006', '98040', '98070', '98155',
       '98045', '98133', '98118', 98105.0, '98056', '98102', '98042',
       '98053', '98199', '98168', '98027', '98011', '98115', '98074',
       '98003', '98146', '98024', '98117', '98029', '98005', '98028',
       '98103', '98034', '98030', '98032', '98039', '98075', '98022',
       '98108', '98198', 98115.0, '98065', '98105', '98166', 98074.0,
       '98136', '98125', '98023', '98004', '98055', '98033', '98077',
       '98119', '98122', '98116', '98052', 98136.0, '98112', '98007',
       '98107', '98010', 98038.0, 98103.0, 98019.0, '98014', 98055.0,
       '98019', '98178', 98059.0, 98008.0, 98024.0, 98023.0, 98106.0,
       98122.0, 98031.0, '98126', 98117.0, '98148', 98030.0, 98034.0,
       '98047', '98288', '98109', 98052.0, 98003.0, 98011.0, '98224',
       98133.0, 98056.0, 98058.0, 98116.0, 98198.0, 98126.0, 98146.0,
       98033.0, 98107.0, 98027.0, 98053.0, 98092.0, 98155.0, '98354',
       98102.0, 98178.0, 98002.0, 98108.0, 98144.0, 98177.0, 98070.0,
       98042.0, 98072.0, 98119.0, '98068', 98075.0, 98118.0, 98188.0,
       98022.0, 98004.0, '98033-4917', 98039.0, 98040.0, 98199.0, 98109.0,
       98168.0, 98045.0, '98050', '98083', 98014.0, 98047.0, 98077.0,
       98065.0, 98005.0, 98166.0, '98057', 98007.0, 98032.0, 98112.0,
       98028.0, '98199-3014', 98010.0, '98042-3001', 98029.0, 98148.0,
       '98031-3173', '98302', '98121', '9800', '98052-1963', '98113',
       '98177-4810', '98028-1814', '98038-3112', 98051.0, '98074-6315',
       '98023-2712', '98136-1728', '98000', 98224.0, ' ', '98035',
       '98134', '98059-7428', '98034-2540', '98074-3438', '98204',
       '98058-7983', '98422', '98132', '98104', 'B', '89118', '98026',
       '98043', '98028-4768', '98074-4417', '98157059', 'A', '98058-9018',
       '98023-7330', '90055', '98006-3954', '98053-5932', '98033-5040',
       '98074-2814', '98028-2118', '98008-4429', '98074-9301',
       '98055-2521', '98075-6010', '98075-9644', '98118-6116', '98097',
       '98074-5411', '8126', '95059', '98028-3200', '98028-4377', '28028',
       98189.0, '98198-8930', '98017', '98006-4057', '98075-9645',
       '98044', '98025', '98028-7915', '98111', '98074-7242',
       '98028-4228', '98107-5353', '98', '98103-8173', '98075-9158',
       '98074-3908', '90108', '98033-8239', '98018', '98079',
       '98118-3167', 98057.0, '98021', '98029-3602', '98028-4505',
       '95055', '89045', '98085', '98405', '98075-9517', '9804',
       '98028-4712', '98028-1654', '98009', '98074-6568', '98011-3777',
       '98075-8010', 98050.0, '98075-8005', '98075-9513', '95125',
       '98059-5449', '98074-3738', '98058-5344', '98063', '98074-4092',
       '98008-4321', 98000.0, '98115-7942', '98146-3008', '98059-7120',
       '98013', 'WA', '98042-8215', '98028-4625', '98028-8908',
       '98075-9565', '98176', '9859', '98042-4811', '981152019',
       '98023-7841', '98045-9504', '98101', '98074-4122', '98028-8533',
       '99019', '98028-6100', '90855', '98074-6745', '98054', '0'],
      dtype=object)

Apart from the null values, there are string values that don't relate to particular ZipCodes (ie. 0, A, B, WA). Given that the data is categorical, we are going to turn these values into nulls and the zip codes.

In [17]:
def clean_zips(x):
    x = str(x)
    if len(x) >= 5:
        x = x[:5]
        return int(x)
    else:
        return np.nan

sales_data['ZipCode'] = sales_data['ZipCode'].apply(clean_zips)
sales_data.head()

,Major,Minor,DocumentDate,SalePrice,PrincipalUse,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,YrBuilt,YrRenovated
0,138860.0,110.0,08/21/2014,245000,6,98002.0,7,1490,3,0,0,2,1989,0
1,138860.0,110.0,06/12/1989,109300,0,98002.0,7,1490,3,0,0,2,1989,0
2,138860.0,110.0,01/16/2005,14684,6,98002.0,7,1490,3,0,0,2,1989,0
3,138860.0,110.0,06/08/2005,0,0,98002.0,7,1490,3,0,0,2,1989,0
4,423943.0,50.0,10/11/2014,0,6,98092.0,6,960,3,0,0,1,1969,0

In [18]:
sales_data['ZipCode'].isna().sum()

118414

<b> Step 5.2 :  Drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

In [19]:
sales_data = sales_data.loc[~(sales_data['SalePrice'] <= 0), :]

In [20]:
sales_data = sales_data.loc[~(sales_data['SqFtTotLiving'] == 0), :]

<b> Step 5.3 : Drop properties whose principal use is not either Residential, Condominiums, Apartments and Mobile Homes

In [21]:
len(sales_data)

959043

In [22]:
a = [0, 2, 4, 6, 8]
sales_data = sales_data[sales_data['PrincipalUse'].isin(a)]

In [23]:
sales_data.head()

,Major,Minor,DocumentDate,SalePrice,PrincipalUse,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,YrBuilt,YrRenovated
0,138860.0,110.0,08/21/2014,245000,6,98002.0,7,1490,3,0,0,2,1989,0
1,138860.0,110.0,06/12/1989,109300,0,98002.0,7,1490,3,0,0,2,1989,0
2,138860.0,110.0,01/16/2005,14684,6,98002.0,7,1490,3,0,0,2,1989,0
6,423943.0,50.0,07/15/1999,96000,6,98092.0,6,960,3,0,0,1,1969,0
7,423943.0,50.0,01/08/2001,127500,6,98092.0,6,960,3,0,0,1,1969,0

<b> Step 5.4 : Drop BathHalfCount and Bath3qrtCount given that a merge of these fields would lead to an inacurrate predictor

In [31]:
sales_data.drop(columns=['BathHalfCount', 'Bath3qtrCount'], axis=1, inplace=True)

In [32]:
sales_data.head()

,Major,Minor,DocumentDate,SalePrice,PrincipalUse,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathFullCount,YrBuilt,YrRenovated
0,138860.0,110.0,08/21/2014,245000,6,98002.0,7,1490,3,2,1989,0
1,138860.0,110.0,06/12/1989,109300,0,98002.0,7,1490,3,2,1989,0
2,138860.0,110.0,01/16/2005,14684,6,98002.0,7,1490,3,2,1989,0
6,423943.0,50.0,07/15/1999,96000,6,98092.0,6,960,3,1,1969,0
7,423943.0,50.0,01/08/2001,127500,6,98092.0,6,960,3,1,1969,0

<b> Step 5.5 : Find out the number of years the house has been built. If the house has been under renovation, we would take that year instead of the year built.

In [35]:
sales_data['DocumentDate'] = sales_data['DocumentDate'].apply(pd.Timestamp)

In [37]:
sales_data.head()

,Major,Minor,DocumentDate,SalePrice,PrincipalUse,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathFullCount,YrBuilt,YrRenovated
0,138860.0,110.0,2014-08-21,245000,6,98002.0,7,1490,3,2,1989,0
1,138860.0,110.0,1989-06-12,109300,0,98002.0,7,1490,3,2,1989,0
2,138860.0,110.0,2005-01-16,14684,6,98002.0,7,1490,3,2,1989,0
6,423943.0,50.0,1999-07-15,96000,6,98092.0,6,960,3,1,1969,0
7,423943.0,50.0,2001-01-08,127500,6,98092.0,6,960,3,1,1969,0

In [38]:
sales_data['Year'] = sales_data['DocumentDate'].apply(lambda ts: ts.year)

In [39]:
sales_data.head()

,Major,Minor,DocumentDate,SalePrice,PrincipalUse,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathFullCount,YrBuilt,YrRenovated,Year
0,138860.0,110.0,2014-08-21,245000,6,98002.0,7,1490,3,2,1989,0,2014
1,138860.0,110.0,1989-06-12,109300,0,98002.0,7,1490,3,2,1989,0,1989
2,138860.0,110.0,2005-01-16,14684,6,98002.0,7,1490,3,2,1989,0,2005
6,423943.0,50.0,1999-07-15,96000,6,98092.0,6,960,3,1,1969,0,1999
7,423943.0,50.0,2001-01-08,127500,6,98092.0,6,960,3,1,1969,0,2001

In [40]:
sales_data['AgeofHouse'] = sales_data['Year'] - sales_data['YrBuilt']

In [41]:
sales_data.head()

,Major,Minor,DocumentDate,SalePrice,PrincipalUse,ZipCode,BldgGrade,SqFtTotLiving,Bedrooms,BathFullCount,YrBuilt,YrRenovated,Year,AgeofHouse
0,138860.0,110.0,2014-08-21,245000,6,98002.0,7,1490,3,2,1989,0,2014,25
1,138860.0,110.0,1989-06-12,109300,0,98002.0,7,1490,3,2,1989,0,1989,0
2,138860.0,110.0,2005-01-16,14684,6,98002.0,7,1490,3,2,1989,0,2005,16
6,423943.0,50.0,1999-07-15,96000,6,98092.0,6,960,3,1,1969,0,1999,30
7,423943.0,50.0,2001-01-08,127500,6,98092.0,6,960,3,1,1969,0,2001,32